<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C1BC320290AC4F10048819B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C2BFE7528EF9EC7006A1A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CABD4DC29101E1B00E3137C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CABD4E329101E1B00E3137C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE1900928E63F1F009A3DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE1901328E63F1F009A3DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
